.bead-scroll-container {
	/*
	width: 1200px;
	height: 450px;
	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
	*/
}

.bead-container {
	display: block;
	padding: 5px;
	/*transform: scale(.5);*/
	height: max-content;
	width: max-content;
}

.bead-line {
	display: block;
	height: 14px;
}

.bead {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -2px;
}

.bead span {
	display: inline-block;
}

.bead-row-odd.bead-line {
	margin-left: 6px;
}

.bead-row-even.bead-line {
	margin-left: 0px;
}

.bead-row-odd .bead-empty,
.bead-row-even .bead-empty {
	height: 16px;
	width: 16px;
}

.bead-empty span {
	height: 16px;
	width: 16px;
}

.bead-horizontal span {
	border-radius: 50%/75%;
	height: 12px;
	width: 20px;
}

.bead-vertical span {
	border-radius: 75%/50%;
	height: 20px;
	width: 12px;
}
